$accent: #f97360;
$accent-light: #ff8775;
$dark-grey: #22313F;
$darker-grey: #0d1319;
$grey: #354452;
$white: #fffff9;
$litreview: #86d07d;
$log: #3c6188;

html {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  background: $white;
  h1 {
    font-weight: bold;
    font-size: 4em;
    margin: 0.5em;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1.5em;
  }
  h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.5em 0;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
  }
  p, code {
    font-size: 1.1em;
  }
  img, video {
    width: 80%;
  }
  q {
    font-style: italic;
  }
}

nav {
  background: $dark-grey;
  width: 100%;
  color: white;
  font-weight: bold;
  position: fixed;
  z-index: 5;
  section {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0.6em;
    #initials {
      font-size: 2.5em;
      font-weight: 300;
      margin: 0;
      float: left;
      text-decoration: none;
      color: white;
      padding-bottom: 0.1em;
    }
    ul {
      float: right;
      margin: 0;
      list-style: none;
      padding-left: 0.5em;
      li {
        float: left;
        padding-right: 1.2em;
        padding-left: 1.2em;
        height: 3em;
        a {
          text-decoration: none;
          color: white;
          font-size: 1.1em;
          line-height: 3em;
          text-align: center;
          position: relative;
          font-weight: 300;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            border-bottom: 2px solid #EC644B;
            transform: scale(0,1);
            transition: transform 0.2s;
          }
          &:hover:before {
            transform: scale(1);
          }
        }
        .active:before {
          transform: scale(1);
        }
      }
    }
  }
}

#jumbotron {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12%;
  padding-bottom: 12%;
  color: white;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  background: $dark-grey;
  background-image: url("img/background.jpg");
  background-size: cover;
}

main {
  text-align: center;
  margin: 0 auto;
  background: $white;
  section {
    color: white;
    font-weight: 300;
    padding: 5%;
  }
  .container {
    max-width: 800px;
    padding: 1em;
    margin: 0 auto;
    font-size: 1em;
  }
  .text {
    background: $white;
    color: $darker-grey;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    p {
      font-size: 1em;
    }
  }
}

.list-noStyle {
  list-style: none;
}

.svg-example {
  background: #ff9966;
}

svg > rect {
    width: 40px;
}

.button {
  padding: 1em 2em;
  background-color: $accent;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1em;
  &:hover {
    transition: background 0.4s;
    background-color: $accent-light;
  }
}
.dark {
  background: $dark-grey;
  margin-right: 0.5em;
  margin-left: 0.5em;
  &:hover {
    background: $grey;
  }
}

footer {
  background: $dark-grey;
  padding: 2em;
  text-align: center;
  a {
    color: white;
  }
}

#intro {
  padding-top: 2%;
  padding-bottom: 2%;
  .container {
    padding: 0;
    h4 {
      font-weight: 300;
      font-size: 1.1em;
    }
  }
}

.accent {
  background: $accent;
}

#work {
  color: $darker-grey;
  h4 {
    padding-top: 2em;
  }
}

.log-item {
  border-bottom: 2px solid $dark-grey;
  & > h3 {
    text-decoration: underline;
    font-size: 1.6em;
  }
}

.small-img {
  width: 50%;
}
.large-img {
  width: 100%;
}

#overlay-button {
  padding: 1.5em 0.8em;
  position: absolute;
  right: 1em;
  top: 8px;
  display: none;
  z-index: 5;
  cursor: pointer;
  span {
      height: 0.1em;
      width: 35px;
      background-color: white;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 0.1em;
          width: 35px;
          background-color: white;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

@media (min-width: 500px) and (min-height: 500px){
  body {
    nav {
      #overlay-button {
        display: none;
      }
    }
    #overlay.active {
      visibility: hidden;
    }
  }
}

@media (max-width: 630px), (max-height: 400px){
  body {
    h1 {
      font-size: 2.3em;
    }
    h2 {
      font-size: 1.5em;
    }
    nav {
      section {
        padding-top: 0.4em;
      }
      ul {
      display: none;
      }
      #overlay-button {
        display: block;
      }
      input[type=checkbox]:checked ~ ul {
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        height: 120vh;
        margin-top: -20vh;
        li {
          text-align: center;
          display: block;
          height: 4em;
          a {
            font-weight: 300;
            font-size: 1.4em;
          }
        }
      }
    }
    #jumbotron {
        padding-top: 20%;
        padding-bottom: 15%;
    }
    main {
      video, img, .small-img {
        width: 100%;
      }
    }
    .button {
      padding: 0.8em 1.2em;
    }
  }
}

@media (max-width: 500px) {
  body {
    #jumbotron {
        padding-top: 35%;
        padding-bottom: 25%;
    }
  }
}
