$accent: #f97360;
$accent-light: #ff816f;
$dark-grey: #22313F;
$darker-grey: #0d1319;
$grey: #293846;
$white: #fffff9;
$litreview: #86d07d;
$log: #3c6188;

html {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  background: $white;
  h1, h2 {
    font-weight: 300;
    font-size: 1em;
  }
  h3 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.1em;
  }
  nav {
    background: $dark-grey;
    width: 100%;
    color: white;
    font-weight: bold;
    position: fixed;
    z-index: 5;
    transition: background 0.6s;
    section {
      max-width: 1200px;
      margin: 0 auto;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 0.6em;
      .initials {
        font-size: 2.5em;
        font-weight: 300;
        margin: 0;
        float: left;
        text-decoration: none;
        color: white;
      }
      .menu {
        padding: 26px 11px;
        cursor: pointer;
        margin: 0 auto;
        height: 2px;
        float: right;
      }
      ul {
        float: right;
        margin: 0;
        list-style: none;
        li {
          float: left;
          padding-right: 1.2em;
          padding-left: 1.2em;
          a {
            text-decoration: none;
            color: white;
            font-size: 1.1em;
            line-height: 3em;
            text-align: center;
            position: relative;
            font-weight: 300;
            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: -5px;
              border-bottom: 2px solid #EC644B;
              transform: scale(0,1);
              transition: transform 0.2s;
            }
            &:hover:before {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  .button {
    padding: 1em 2em;
    background-color: $accent;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 400;
    transition: all 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 1em;
    &:hover {
      background-color: $accent-light;
    }
  }
  .jumbotron {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    .background {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 140%;
      width: 100%;
      overflow: hidden;
      z-index: -1;
      .background-image {
         background: $dark-grey;
         background-image: url("background.jpg");
         background-size: cover;
         width: 100%;
         height: 100%;
         animation: zoom 20s forwards ease-out infinite;
        }
      }
    h1 {
      font-size: 4em;
      margin: 0.5em;
      text-transform: uppercase;
    }
    h2 {
      font-size: 2em;
      margin-bottom: 1.5em;
    }
  }
  main {
    text-align: center;
    margin: 0 auto;
    background: $white;
    section {
      color: white;
      text-align: center;
      font-weight: 300;
      padding: 5%;
    }
    .text {
      background: $white;
      color: $darker-grey;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      text-align: left;
      section {
        text-align: left;
      }
      h3 {
        text-decoration: underline;
      }
      p {
        font-size: 1em;
      }
    }
    .container {
      max-width: 800px;
      padding: 1em;
      margin: 0 auto;
      font-size: 1em;
      h3 {
        font-weight: bold;
        margin: 0.5em 0;
      }
      h4 {
        font-weight: 600;
        margin-bottom: 1em;
        font-size: 1.1em;
      }
    }
    q {
      font-style: italic;
    }
    .profile {
      width: 60%;
      border-radius: 50%;
    }
    .log-item {
      border-bottom: 2px solid $dark-grey;
    }
    img, video {
      width: 80%;
    }
    .dark {
      background: $dark-grey;
      margin-right: 0.5em;
      margin-left: 0.5em;
      &:hover {
        background: $grey;
      }
    }
    .intro {
      padding-top: 2%;
      padding-bottom: 2%;
      .container {
        padding: 0;
        h4 {
          font-weight: 300;
        }
      }
    }
    .log {
      background: $log;
    }
    .litreview {
      background: $litreview;
    }
    .accent {
      background: $accent;
    }
  }
  footer {
    background: $dark-grey;
    padding: 2em;
    text-align: center;
    margin-top: -1px;
    a {
      color: white;
    }
   }
}

#overlay-button {
  float:right;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display:none;
  span {
      height: 0.1em;
      width: 35px;
      background-color: white;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 0.1em;
          width: 35px;
          background-color: white;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
  &.active {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}


#overlay {
  height: 100vh;
  width: 100vw;
  background: #ec6451;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: opacity 0.2s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes zoom {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

@media (min-width: 500px) and (min-height: 500px){
  body {
    nav {
      #overlay-button {
        display: none;
      }
    }
    #overlay.active {
      visibility: hidden;
    }
  }
}

@media (max-width: 500px), (max-height: 500px){
  body {
    nav {
      section {
        padding-top: 0.4em;
      }
      ul {
        display: none;
      }
      #overlay-button {
        display: block;
      }
    }
    .jumbotron {
        padding-top: 20%;
        padding-bottom: 15%;
        h1 {
          font-size: 2.3em;
        }
        h2 {
          font-size: 1.5em;
        }
    }
    main {
      video, img {
        width: 100%;
      }
    }
  }
  .button {
    font-size: 1em;
    padding: 0.8em 1.2em;
  }
}



@media (max-width: 500px) {
  body {
    .jumbotron {
        padding-top: 35%;
        padding-bottom: 25%;
    }
  }
}
