html {
  font-family: 'Nunito Sans', sans-serif; }

body {
  margin: 0;
  background: #fffff9; }
  body h1 {
    font-weight: bold;
    font-size: 4em;
    margin: 0.5em;
    text-transform: uppercase; }
  body h2 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1.5em; }
  body h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.5em 0; }
  body h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em; }
  body p, body code {
    font-size: 1.1em; }

nav {
  background: #22313F;
  width: 100%;
  color: white;
  font-weight: bold;
  position: fixed;
  z-index: 5; }
  nav section {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0.6em; }
    nav section #initials {
      font-size: 2.5em;
      font-weight: 300;
      margin: 0;
      float: left;
      text-decoration: none;
      color: white;
      padding-bottom: 0.1em; }
    nav section ul {
      float: right;
      margin: 0;
      list-style: none;
      padding-left: 0.5em; }
      nav section ul li {
        float: left;
        padding-right: 1.2em;
        padding-left: 1.2em;
        height: 3em; }
        nav section ul li a {
          text-decoration: none;
          color: white;
          font-size: 1.1em;
          line-height: 3em;
          text-align: center;
          position: relative;
          font-weight: 300; }
          nav section ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            border-bottom: 2px solid #EC644B;
            transform: scale(0, 1);
            transition: transform 0.2s; }
          nav section ul li a:hover:before {
            transform: scale(1); }
        nav section ul li .active:before {
          transform: scale(1); }

#jumbotron {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12%;
  padding-bottom: 12%;
  color: white;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  background: #22313F;
  background-image: url("img/background.jpg");
  background-size: cover; }

main {
  text-align: center;
  margin: 0 auto;
  background: #fffff9; }
  main section {
    color: white;
    font-weight: 300;
    padding: 5%; }
  main .container {
    max-width: 800px;
    padding: 1em;
    margin: 0 auto;
    font-size: 1em; }
  main .text {
    background: #fffff9;
    color: #0d1319;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left; }
    main .text p {
      font-size: 1em; }
  main q {
    font-style: italic; }

.button {
  padding: 1em 2em;
  background-color: #f97360;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 400;
  transition: background 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1em; }
  .button:hover {
    background-color: #ff8775; }

.dark {
  background: #22313F;
  margin-right: 0.5em;
  margin-left: 0.5em; }
  .dark:hover {
    background: #354452; }

footer {
  background: #22313F;
  padding: 2em;
  text-align: center; }
  footer a {
    color: white; }

#intro {
  padding-top: 2%;
  padding-bottom: 2%; }
  #intro .container {
    padding: 0; }
    #intro .container h4 {
      font-weight: 300;
      font-size: 1.1em; }

.accent {
  background: #f97360; }

#work {
  color: #22313F; }
  #work h4 {
    padding-top: 2em; }

.log-item {
  border-bottom: 2px solid #22313F; }
  .log-item > h3 {
    text-decoration: underline;
    font-size: 1.6em; }

img, video {
  width: 80%; }

.small-img {
  width: 50%; }

.large-img {
  width: 100%; }

#overlay-button {
  padding: 1.5em 0.8em;
  position: absolute;
  right: 1em;
  top: 8px;
  display: none;
  z-index: 5;
  cursor: pointer; }
  #overlay-button span {
    height: 0.1em;
    width: 35px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out; }
    #overlay-button span:before {
      top: -10px;
      visibility: visible; }
    #overlay-button span:after {
      top: 10px; }
    #overlay-button span:before, #overlay-button span:after {
      height: 0.1em;
      width: 35px;
      background-color: white;
      position: absolute;
      content: "";
      transition: all .2s ease-in-out; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent; }

input[type=checkbox]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1; }

input[type=checkbox]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px); }

@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@media (min-width: 500px) and (min-height: 500px) {
  body nav #overlay-button {
    display: none; }
  body #overlay.active {
    visibility: hidden; } }

@media (max-width: 630px), (max-height: 400px) {
  body h1 {
    font-size: 2.3em; }
  body h2 {
    font-size: 1.5em; }
  body nav section {
    padding-top: 0.4em; }
  body nav ul {
    display: none; }
  body nav #overlay-button {
    display: block; }
  body nav input[type=checkbox]:checked ~ ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 120vh;
    margin-top: -20vh; }
    body nav input[type=checkbox]:checked ~ ul li {
      text-align: center;
      display: block;
      height: 4em; }
      body nav input[type=checkbox]:checked ~ ul li a {
        font-weight: 300;
        font-size: 1.4em; }
  body #jumbotron {
    padding-top: 20%;
    padding-bottom: 15%; }
  body main video, body main img, body main .small-img {
    width: 100%; }
  body .button {
    padding: 0.8em 1.2em; } }

@media (max-width: 500px) {
  body #jumbotron {
    padding-top: 35%;
    padding-bottom: 25%; } }
